<!DOCTYPE html>

<!-- Author: Andrew Gaines
     Description: form that views, edits, deletes and add's clients -->

<html lang="en">
<head>
<meta charset="utf-8">
<title>Edit Client</title>
<link href="css/view_clients.css" rel="stylesheet" type="text/css">

<script>
var size = <%= results.rows.length %>;
var clickedArr = new Array(size);

for (var i = 0; i < size; i++) {
 clickedArr[i] = 0;
}

function myFunction() {
 // Declare variables
 var input, filter, table, tr, td, i, txtValue;
 input = document.getElementById("myInput");
 filter = input.value.toUpperCase();
 table = document.getElementById("myTable");
 tr = table.getElementsByTagName("tr");

 // Loop through all table rows, and hide those who don't match the search query
 for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[0];
  if (td) {
   txtValue = td.textContent || td.innerText;
   if (txtValue.toUpperCase().indexOf(filter) > -1) {
    tr[i].style.display = "";
   } else {
    tr[i].style.display = "none";
   }
  }
 }
}

function submitForm(comp) {
 document.getElementById("key").value = comp;
 document.getElementById("client").submit();
}

// function that adds a more field with other options for user
function addField(comp, email, startDate, nThis, size) {
 //var clickedArr[size];
 var index = nThis.parentNode.parentNode.rowIndex
 var table = document.getElementById("myTable");

 if (clickedArr[index - 1] == 0) {
  var row = table.insertRow(index + 1);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var splitDate = startDate;
  var fields = splitDate.split('00:00');
  var d = fields[0];

  cell1.innerHTML = comp + "<br>" + "E: " + email + "<br>" + "Start Date: " + d;

  var button = document.createElement("button");
  button.class = "removeBtn";
  button.innerHTML = "Remove";
  button.style = "background-color: red;font: 14px sans-serif,Arial, Helvetica; border-radius: 4px; color: #FFFFFF;padding: 5px 7px;";
  button.onclick = function() {

   var answer = window.confirm("Are you sure you want to delete " + comp + " as a client?");

   if (answer) {
    location.href = 'pos.html';
    document.getElementById("key").value = comp;
    document.getElementById('client').action = './delete_client'; //Will set it
    document.getElementById("client").submit();
   } else {
    document.getElementById('client').action = './view_clients'; //Will set it
    document.getElementById("client").submit();
   }
  };

  cell2.appendChild(button);
  clickedArr[index - 1] = 1;
 } else if (clickedArr[index - 1] == 1) {

  clickedArr[index - 1] = 0;
  document.getElementById("myTable").deleteRow(index + 1);
 }
}

// function that promts user if user wants to return home or not
function areYouSureReturn() {
 var answer = window.confirm("Return home?");
 if (answer) {
  location.href = 'pos.html';
 } else {}
}
</script>

</head>

<body>
    <form action='/get_edit_client' id="client" name="client" autocomplete="off" class="add_client-style" method='post'>
			<input style="width:45px" class="addButtonView" type="button" onclick="location.href='add_client.html';" value="">

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for companies..">

        <table id="myTable">
            <tr class="header">
                <th style="width:32%;">Company Name</th>
                <th style="width:15%;">Phone</th>
                <th style="width:40%;">Email</th>
                <th></th>
                <th></th>
            </tr>

            <% for(var i=0; i<results.rows.length; i++) { %>
                <tr>
                    <td class="tdClass">
                        <%= results.rows[i].company %>
                    </td>
                    <td>
                        <%= results.rows[i].phone %>
                    </td>
                    <td>
                        <%= results.rows[i].email %>
                    </td>
                    <div class="viewClientButtons">
                        <td class="tdInline">
                            <input style="width:90px" class="editButtonView" type="button" onclick="submitForm('<%= results.rows[i].company %>')" value="Edit">
                        </td>
                        <input class="keyInput" id="key" name="key" value="" type="text">

                        <td class="tdInline">
                            <input style="width:90px" class="moreButtonView" onclick="addField('<%= results.rows[i].company %>', '<%= results.rows[i].email %>',
                             '<%= results.rows[i].start_date %>', this,'<%= results.rows.length %>')" id="moreButton" name="moreButton" type="button" value="More">
                        </td>

                    </div>
                </tr>

								<% } %>

        </table>
        <input type="button" value="Return" style="width:100px" class="returnButtonView" onclick="areYouSureReturn()">
				<input class="keyInput" id="key" name="key" type="text">
    </form>

</body>

</html>
