								
.main{
	padding:20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border : 2px solid #3374ff;
	border-radius: 15px;
	
}
.main h1{
	font-size: 50px;
	text-align:center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #265ec5;
}

h2{
    text-align: center;
}
input{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
	font-size: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #3374ff;
}
input[type=submit] {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 100%;
    background-color: #275fce;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input:hover {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	border: none;
    border-bottom: 2px solid #941c1c;
}

input[type=submit]:hover {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 100%;
    background-color: #941c1c;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 15px;
}
